@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-transparent: rgba(20 20 20 / 40%);
  --accent: rgba(20 20 20 );
  --bg: #000000;
  --text: #ffffff;
  --yellow: #EDB74D;
  --red: #EB6666;
  --green: #6FB18A;
  --easing: cubic-bezier(0.16, 1, 0.3, 1);
  --border-radius: 14px;
}

html {
  scroll-snap-type: y mandatory;
}

body { 
  background-color: var(--bg);
  font-family: system-ui, sans-serif;
  color: var(--text);
}

section {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  min-height: 100lvh;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  opacity: 0.85;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.25rem;
  opacity: 0.85;
  line-height: 2.5rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  opacity: 0.75;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
  border: 1px solid var(--bg);
}

.glass {
  background-color: rgba(0 0 0 / 40%);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}



.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  
