.Chip {
  border-radius: 9999px;
  background-color: var(--accent-transparent);
  padding: 0.3rem 0.75rem;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}